body {
  background-image: "sky.jpg";
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

.div {
  background: black;
}
h1 {
  margin-top: 20px;
  text-align: center;
  color: black;
}

ul {
  background-image: "sky.jpg";
  list-style: none;
  text-align: center;
  padding: 0;
}

li {
  padding: 10px 0px 0px 0px;
  margin: 0 auto;
}

#footer {
  text-align: center;
  display: block;
  margin-top: 400px;
  font-size: small;
}
