body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  color: black;
}

ul {
  background-image: "sky.jpg";
  list-style: none;
  text-align: center;
  padding: 0;
}

li {
  padding: 10px 0px 0px 0px;
  margin: 0 auto;
}

#fluid {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

#footer {
  text-align: center;
  display: block;
  margin-top: 400px;
  font-size: small;
}
